body {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

h1 {
color: white;
background-color: #004080;
text-align: center;
}


.map2 {
position: relative;
float: left;
width: 100%;
}
.school3 {
position: relative;
float: left;
width: 100%;
}
.zishin1 {
position: relative;
float: left;
width: 100%;
}

.a {
  position: relative;
  margin: 100px;    
}

body {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

h1 {
color: white;
background-color: #004080;
text-align: center;
}


.map2 {
position: relative;
float: left;
width: 100%;
height: 100%;
}
.school3 {
position: relative;
float: left;
width: 100%;
height: 100%;
}
.zishin1 {
position: relative;
float: left;
width: 100%;
height: 100%;
}

.a {
  position: relative;
  margin: 100px;   
}

.img { 
	max-width: 100%; 
	height:auto;
}
